# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/logs
common-jpa/target
common-rabbitmq/target
dispatcher/target
Node/target
